@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to University of Cincinnati</h1>
    <p>Explore more about Majors and Courses offered at UC</p>
</div>
